@import "colors";
@import "dock";
@import "button";

QWidget {
    font-size: 30px;
    font-family: "Orbitron", Monospace, sans-serif;
    color: $foreground;
    border: none;
    margin: 0px;
    padding: 0px;
}

QStackedWidget {
    background-color: $background;
}

QSlider::groove:horizontal {
    margin-left: 3px;
    margin-right: 3px;
    height: 2px;
    background-color: transparent;
}

QSlider::sub-page:horizontal[color=red] {
    background-color: $red;
}

QSlider::sub-page:horizontal[color=green] {
    background-color: $green;
}

QSlider::add-page:horizontal {
    background-color: $background-dark;
}

QSlider::handle:horizontal {
    width: 8px;
    border-radius: 3px;
    margin: -3px;
    // border-style: solid;
    // border-width: 2px;
    // border-radius: 5px;
}


QSlider::handle:horizontal[color=red] {
    background-color: $red;
}

QSlider::handle:horizontal[color=green] {
    background-color: $green;
}
